<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ author }}</title>
</head>

<body>
  {% if name %}
  <h1>Welcome to fantasy Cross Country {{ name }}!</h1>
  {% else %}
  <h1>Welcome to fantasy Cross Country!</h1>
  {% endif %}
  <hr>
  <img
  src="http://www.buffalo.edu/content/www/brand/identity/university-logo-and-marks/_jcr_content/par/image_13.img.209.auto.png/1460123040155.png"
  alt="University at Buffalo Logo"
  width="250"
  height="200" />
  <img src="/static/cross-country-icon.jpg"
  width="250"
  height="200" />
  <br>
</body>

</html>