<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ author }}</title>
</head>

<body>
  <div style="background:color:#fff; border:solid 1px #333; float:right; text-align:center; padding:5px;">
    <i class="fa fa-user"></i>
    {% if name %}
    <a href="/profile" type="button">{{ name }} Profile</a>
    {% else %}
    <a href="/login"><input type="button" value="login"></a>
    <a href="/register"><input type="button" value="register"></a>
    {% endif %}
  </div>
  <h1>Welcome to fantasy Cross Country!</h1>
  <hr>
  <img
  src="http://www.buffalo.edu/content/www/brand/identity/university-logo-and-marks/_jcr_content/par/image_13.img.209.auto.png/1460123040155.png"
  alt="University at Buffalo Logo"
  width="250"
  height="200" />
  <img src="/static/cross-country-icon.jpg"
  width="250"
  height="200" />
  <br>

</body>

</html>