<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Team Select</h2>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Team 1</h2>
    <p>
        <form action="/action_page.php">
        First Runner: <input type="text" name="FirstName" value="Mickey"><br>
        Second Runner: <input type="text" name="SecondName" value="Mouse"><br>
        Third Runner: <input type="text" name="ThirdName" value="Mickey"><br>
        Fourth Runner: <input type="text" name="FourthName" value="Mouse"><br>
        Fifth Runner: <input type="text" name="FifthName" value="Mickey"><br>
        Sixth Runner: <input type="text" name="SixthName" value="Mouse"><br>
        Seventh Runner: <input type="text" name="SeventhName" value="Mickey"><br>
        Eighth Runner: <input type="text" name="EighthName" value="Mouse"><br>

        <input type="submit" value="Submit">
        </form>
    </p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Team 2</h2>
    <p>
            <form action="/action_page.php">
                First Runner: <input type="text" name="FirstName" value="Mickey"><br>
                Second Runner: <input type="text" name="SecondName" value="Mouse"><br>
                Third Runner: <input type="text" name="ThirdName" value="Mickey"><br>
                Fourth Runner: <input type="text" name="FourthName" value="Mouse"><br>
                Fifth Runner: <input type="text" name="FifthName" value="Mickey"><br>
                Sixth Runner: <input type="text" name="SixthName" value="Mouse"><br>
                Seventh Runner: <input type="text" name="SeventhName" value="Mickey"><br>
                Eighth Runner: <input type="text" name="EighthName" value="Mouse"><br>
        
                <input type="submit" value="Submit">
                </form>

    </p>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>Team 3</h2>
    <p>
            <form action="/action_page.php">
                First Runner: <input type="text" name="FirstName" value="Mickey"><br>
                Second Runner: <input type="text" name="SecondName" value="Mouse"><br>
                Third Runner: <input type="text" name="ThirdName" value="Mickey"><br>
                Fourth Runner: <input type="text" name="FourthName" value="Mouse"><br>
                Fifth Runner: <input type="text" name="FifthName" value="Mickey"><br>
                Sixth Runner: <input type="text" name="SixthName" value="Mouse"><br>
                Seventh Runner: <input type="text" name="SeventhName" value="Mickey"><br>
                Eighth Runner: <input type="text" name="EighthName" value="Mouse"><br>
        
                <input type="submit" value="Submit">
                </form>
    </p>
  </div>
  <div class="column" style="background-color:#ddd;">
    <h2>Team 4</h2>
    <p>
            <form action="/action_page.php">
                First Runner: <input type="text" name="FirstName" value="Mickey"><br>
                Second Runner: <input type="text" name="SecondName" value="Mouse"><br>
                Third Runner: <input type="text" name="ThirdName" value="Mickey"><br>
                Fourth Runner: <input type="text" name="FourthName" value="Mouse"><br>
                Fifth Runner: <input type="text" name="FifthName" value="Mickey"><br>
                Sixth Runner: <input type="text" name="SixthName" value="Mouse"><br>
                Seventh Runner: <input type="text" name="SeventhName" value="Mickey"><br>
                Eighth Runner: <input type="text" name="EighthName" value="Mouse"><br>
        
                <input type="submit" value="Submit">
                </form>
    </p>
  </div>
</div>

</body>
</html>