<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ author }}</title>
</head>

<body>
  <div style="background:color:#fff; border:solid 1px #333; float:right; text-align:center; padding:5px;">
    <i class="fa fa-user"></i>
    {% if name %}
    <a href="/profile" type="button">{{ name }} Profile</a>
    {% else %}
    <a href="/login"><input type="button" value="login"></a>
    <a href="/register"><input type="button" value="register"></a>
    {% endif %}
  </div>
  <h1>Welcome to fantasy Cross Country!</h1>
  <hr>
  <img
  src="http://www.buffalo.edu/content/www/brand/identity/university-logo-and-marks/_jcr_content/par/image_13.img.209.auto.png/1460123040155.png"
  alt="University at Buffalo Logo"
  width="250"
  height="200" />
  <img src="/static/cross-country-icon.jpg"
  width="250"
  height="200" />
  <br>
  {% if usernameTaken or passwords_dont_match %}
  {% if usernameTaken %}
  <h2>The username you entered is already in use</h2>
  {% endif %}
  {% if passwords_dont_match %}
  <h2>Your passwords did not match</h2>
  {% endif %}
  {% else %}
  <h2>Please enter a username and password</h2>
  {% endif %}
  <form
    method="post" id="name">
    <fieldset>
      <label>Username:</label>
      <input type="text" name="username"><br>
      <label>Password:</label>
      <input type="password" name="password"><br>
      <label>Repeat Password:</label>
      <input type="password" name="repeatpassword"><br>
    </fieldset>
    <br>
    <input type="submit" value="OK Send My Data">
  </form>
</body>

</html>